<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borough Data | {{borough}}</title>
</head>
<body>
{% include "navbar.html" %}
<div class="wrapper">
<h1>{{borough}}</h1>
<h5>Borough Profile</h5>
<!-- <h3>Lines Serving {{borough}}: </h3> -->
{% include "micro.html" %}

{% if transit_bor %}



<p class = "takeaway">The average time of turnstile swipes in {{borough}} is {% if very_transit_bor %} very {% endif %} early, so people usually commute out of this borough in the morning, meaning that this should be well connected with boroughs that people commute into. This is important data when designing a better subway system that priotizes commuters, as it demonstrates the role the lines play.</p>

{% endif %}

{% if not transit_bor %}

<p class = "takeaway">The average time of turnstile swipes in {{borough}} is late, so people usually commute into this borough in the morning, meaning that this should be well connected with boroughs that people commute out of. This is important data when designing a better subway system that priotizes commuters, as it demonstrates the role the lines play.</p>

{% endif %}


{% include "footer.html" %}

</div>
</body>
</html>