<!DOCTYPE html>
<html lang="en">
<head>

    {% include "header.html" %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% include "navbar.html" %}

    <h1>SubwAI: Reimagining the NYC Subway</h1>

<h2>Current NYC Subway Usage vs Subway Lines:</h2>
    {% include "macro.html" %}
<h5>Note the geographical discrepancies between connected and unconnected stations, as well as the discrepancy between connectivity and usage.</h5>
    <h2>Improved Subway Map</h2>
    {% include "macro2.html" %}
{% include "footer.html" %}
</body>
</html>