<!DOCTYPE html>
<html lang="en">
<head>

    {% include "header.html" %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubwAI: Reimagining the NYC Subway</title>
</head>
<body>
    
    {% include "navbar.html" %}

    <h1>SubwAI: Reimagining the NYC Subway</h1>

<div class="d_flex justify-content-around">
<div>
<h5 class = "caption">NYC Subway stations by number of subway lines servicing station</h2>
    {% include "macro_lines.html" %}
</div>

<div>
<h5 class = "caption">NYC Subway stations by number of reduced fare morning commuters</h2>
    {% include "macro_fairfares.html" %}
</div>
</div>

<p class = "takeaway">Areas most in need of the subway (with the most low income riders) have the least access to subway. This means that people in areas without direct train access often have to transfer from buses ontro trains.</p>

<h5 class = "caption">NYC Subway stations by transfers from non-train modes of transportation</h5>
{% include "macro_transfers.html" %}

    <!-- <h2>Improved Subway Map</h2>
    {% include "new_map.html" %} -->

<h2>Takeaways</h2>

<ol>
    <li>The design of the New York City subway is not designed to meet the needs of low income riders</li>
    <li>To make it more equitable, attention should be paid to the average time riders board a train in each borough, as it reveals the role that borough plays in people's daily commutes</li>
    <li>In particular, more lines should be contructed to connect stations in outer boroughs, as to lessen the strain on stations with high bus-to-train transfers</li>
</ol>
{% include "footer.html" %}
</body>
</html>